* {
	margin: 0px;
	padding: 0px;
}


body {
	font-family: 'Arial', Verdana, sans-serif;
	background-color: rgba(163,228,215,1);
	margin: 10px;
}

nav {
	font-size: 0.8em;
	font-variant: small-caps;
}

nav ul {
	float: right;
	display: block;
}

nav li {
	display: inline;
	float: left;
	padding: 10px;
	background-color: rgba(250,250,215,1);
	border: 1px solid brown;
	border-radius: 8px;
}

#kezdo {
	float: right;
	display: block;
}

#kezdo li {
	display: inline;
	float: left;
	padding: 10px;
	background-color: rgba(250,250,215,1);
	border: 1px solid brown;
	border-radius: 8px;
}

#menu a {
	color: black;
}


#gyengenlato a {
	background-color: rgba(250,250,215,1);
	border: 1px solid brown;
	border-radius: 8px;
	padding: 10px;
	float: left;
	display: inline;
	color: black;
}
	
h1 {
	padding: 30px 0px 30px 0px;
	text-align: center;
	color: darkblue;
	display: block;
}

h2 {
	margin: 15px 25px 10px 25px;
	display: block;
}

h3 {
	margin: 10px 25px 5px 25px;
}

div {
	display: block;
	overflow: auto;
}

p {
	text-align: justify;
	margin: 5px 25px 5px 25px;
}

.borito img {
	display: block;
	width: 100%;
	overflow: hidden;
}

.balra img {
	float: left;
	padding: 0px 10px 0px 25px;
	clear: both;
	max-width: 100%;
	
}

.balra p {
	margin: 15px;
	padding: 10px;
	background-color: white;
	border: 1px solid;
	overflow: auto;
	display: block;
}

.jobbra img {
	float: right;
	padding: 0px 25px 0px 10px;
}

.jobbra p{
	margin: 15px;
	padding: 10px;
	background-color: white;
	border: 1px solid;
	overflow: auto;
	display: block;
}


a:link {
	color: rgba(6,26,142,1);
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: none;
}


a:hover {
	text-decoration: underline;
	color: rgba(150,25,160,1);
}

a:active {
	text-decoration: underline;
	color: red;
}

.recept {
	text-transform: uppercase;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid darkgrey;
}
.container video {
	height: 100%;
	width: 100%;
}

.menusor {
	display: block;
	padding-left: 25px;
	padding-right: 25px;
}

.leiras {
	margin: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.szeljegyzetes aside {
	display: inline;
	float: left;
	width: 10%;
	border: 2px solid red;
	background-color: inherit;
	text-align: center;
	margin: 1rem;
}

.szeljegyzetes p {
	width: 60%;
	display: inline-block;
}

.szeljegyzetes img {
	float: right;
	padding: 0px 25px 0px 10px;
}

.csakolvasando {
    position: absolute;
    left: -10000em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}
	
#summ {
	background-color: inherit;
}

#betegsegek {
	background-color: coral;
	border: 2px solid black;
	margin: 1rem;
}

div ul li {
	text-align: justify;
	margin-left: 25px;
}

table, th, td {
	border: 4px solid rgba(1,136,85,1);
	border-collapse: collapse;
	padding: 5px 10px;
}

.tabl {
	margin: auto 25px;
}

td {
	background-color: rgba(187,195,182,0.5);
}

a {
	padding: 10px 0px;
}

.kereso {
	margin: 10px 0px 10px 25px;
	padding-left: 30px;
	border-radius: 15px;
	background-color: white;
	height: 30px;
}
#searchicon {
	display: inline;
	height: 15px;
	margin-left: 0px;
	padding-left: 0px;
}

.urlap {
	background-image: url("pattern.jpg");
}

.urlap p {
	margin: 40px auto 40px auto;
	padding: 10px;
	text-align: center;
	width: 50%;
	background-color: rgba(250,250,215,1);
	border: 2px solid brown;
}

.urlap fieldset {
	margin: 40px auto 40px auto;
	width: 50%;
	background-color: rgba(250,250,215,1);
	border: 2px solid brown;
	padding: 2rem;
}

#cel input {
	display: inline;
	float: left;
	margin-right: 1rem;
}

#cel {
	background-color: white;
	padding: 1rem;
}

 #ertekeles {
	 background-color: white;
	 padding: 1rem;
 }

#ertekeles label {
	display: inline;
}


#ertekeles input {
	display: inline;
	float: left;
	margin-right: 1rem;
}

#mailcim {
	width: 40%;
}

#submitBtn {
	border: 1px solid brown;
	border-radius: 8px;
	margin: auto;
	padding: .5rem;
	background: rgba(188,220,225,1);
}

#submitBtn:hover {
	background: rgba(116,185,119,1);
}

#resetBtn {
	border: 1px solid brown;
	border-radius: 8px;
	margin: auto;
	padding: .5rem;
	background: rgba(188,220,225,1);
}

#resetBtn:hover {
	background: rgba(239,93,93,1);
}

.buttons {
	float: right;
}

@media print {
	body {
		background-color: white;
		margin: 20px;
		font-family: 'Times New Roman', serif;
	}
	
	.no-print {
		display: none;
	}
}
